<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Index</title>
    <link href="/style/myStyle.css" th:href="@{/style/myStyle.css}" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>Employee Login Portal</h1>
    <p th:if="${error != null}" th:text="${error}" style="color:red;"></p>
    <form action="#" th:action="@{/login}" th:object="${employee}" method="POST">
        <input type="hidden" name="formSubmission" value="true">
        <table>
            <tr>
                <td>Employee UID:</td>
                <td><input type="number" th:field="*{id}" required/></td>
            </tr>

            <tr>
                <td>Employee Password:</td>
                <td><input type="password" th:field="*{password}" required></td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" value="login"/>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>